body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	text-align: center;
	padding-left: 0;
}

#map {
	margin-top: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#map canvas {
	cursor: crosshair;
}

#map-style-selector {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	border-radius: 12px;
	padding: 10px 15px;
	border-radius: 8px;
	border: 2px solid #4a5568;
	background-color: rgba(255, 255, 255, 0.9);
	color: #2d3748;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 16px;
	appearance: none;
}

#origin {
	display: none;
	position: absolute;
	z-index: 1;
	overflow-x: none;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	width: 10%;
	overflow: auto;
	text-align: center;
	text-wrap: wrap;
	font-weight: bold;
	padding: 10px;
	font-size: 18px;
	border-radius: 12px;
	border: 2px solid #4a5568;
	background: rgba(250, 250, 250, 0.8);
}

#artist-list {
	height: 220px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#artist-list:hover {
	scrollbar-width: none;
	overflow-y: auto;
}

#artist-info {
	padding-top: 0;
	margin-top: 0;
	text-wrap: wrap;
}

.slidecontainer {
	display: grid;
	position: absolute;
	place-items: center;
	margin: 20px;
	margin-top: 0;
	right: 10%;
}

#artists-range-value {
	background: rgba(250, 250, 250, 0.8);
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	border-radius: 12px;
	min-width: 60px;
	max-width: 80px;
}

.maplibregl-popup-content {
	position: absolute;
	max-height: 240px;
	min-width: 240px;
	max-width: 400px;
	border-radius: 12px;
	text-align: center;
	font-size: 16px;
	border: 2px solid #4a5568;
	background: rgb(250, 250, 250, 0.8);
}

.maplibregl-popup-close-button {
	font-size: 20px;
	font-weight: bold;
	margin-right: 4px;
}

.maplibregl-popup-tip {
	display: none;
}
