body {
    margin: 0;
    padding: 0;
}

ul {
    text-align: center;
    padding-left: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map canvas {
    cursor: crosshair;
}

#info {
    display: block;
    position: absolute;
    left: 18%;
    transform: translate(-50%);
    margin-left: 20px;
    width: 26%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: rgba(90, 90, 90, 0.8);
}

#origin {
    display: none;
    position: absolute;
    overflow-x: none;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 10%;
    overflow: auto;
    text-align: center;
    text-wrap: wrap;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    background: rgba(240, 240, 240, 0.8);
}

#artist-list {
    height: 220px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#artist-list:hover {
    overflow-y: auto;
}

.maplibregl-popup-content {
    position: absolute;
    max-height: 240px;
    min-width: 240px;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    background: rgb(240, 240, 240, 0.8);
}

#artist-list-info {
    padding-top: 0;
    margin-top: 0;
    text-wrap: wrap;
}

#geocoder-container {
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

#select-search-options {
    background: whitesmoke;
    border-radius: 8px;
    margin: 2px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

#map-style-selector {
    height: 50px;
}

.maplibregl-ctrl-geocoder--result-address {
    text-align: center;
    text-wrap: wrap;
    text-overflow: ellipsis;
}

#map-style-switcher {
    display: block;
    position: absolute;
    margin-left: 10px;
    margin-top: 25px;
}
